<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Erasmus {%block titre %}{%endblock%}</title>
        {% include "partials/css.html" %}
        {% include "partials/metadata.html" %}
        <style type="text/css">
            .hero  {
                background-position: center center;
                padding:10vh;

            }
            .container .hero {
                background-image: url({{url_for("static", filename="images/paper.jpeg")}});
            }
        </style>
    </head>
    <body>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="{{ url_for('accueil') }}">Erasmus</a>

        <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for("browse")}}">Navigation</a>
              </li>

            <ul class="nav navbar-nav navbar-right">
               <li class="nav-item"><a class="nav-link" href="{{url_for("creer_edition")}}">Ajout d'édition</a></li>
               <li class="nav-item"><a class="nav-link" href="{{url_for("ajout_bibliotheque")}}">Ajout de bibliothèque</a></li>
               <li class="nav-item"><a class="nav-link" href="{{url_for("ajout_bibliographie")}}">Ajout de bibliographie</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for("recherche")}}">Recherche par dates</a></li>
            </ul>
        </ul>
        <form class="form-inline" action="{{url_for("recherche")}}" method="GET">
          <input class="form-control" name="keyword" type="search" placeholder="Recherche rapide" aria-label="Recherche">
          <button class="btn btn-info" type="submit">Rechercher</button>
        </form>
      </nav>
      {% block afternav %}{%endblock%}
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="row">
              <div class="col">
                {% for category, message in messages %}
                  <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
              </div>
          </div>
          {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col">
            {% block corps %}{% endblock %}
            </div>
        </div>
      </div>
    </body>
</html>