{% extends "conteneur.html" %}

{% block titre %}| Reference {%endblock%}

{% block corps %}

<h1 style="font-family: Georgia;">Édition d'Erasmus</h1>
<p style="font-family: Georgia;">Complétez le formulaire et cliquez sur "Enregistrer".</p>
    <form class="container" method="GET" class="col-8 col-sm-8"  action="{{url_for("ajout_reference", edition_id=edition.edition_id)}}" style="font-family: Georgia;">
    <div class="form-group col">
        <label for="idEdition" class="col-lg-4 col-form-label">ID Edition</label>
      <div class="col">
        <input type="text" class="form-control" id="idEdition" name="idEdition" value="{{edition.edition_id}}">
      </div>
    </div>
</form>
<form class="form" method="POST" class="col-8 col-sm-8" action="{{url_for("ajout_reference", edition_id=edition.edition_id)}}" style="font-family: Georgia;">
  <div class="form-group row">
    <label for="oeuvre" class="col-sm-2 col-form-label">Auteur(s) et oeuvre</label>
    <div class="col-6 col-sm-6">
      <div class="input-group" >
     <select class="selectpicker form-control" id="oeuvre" placeholder="oeuvre" name="oeuvre">
         <option></option>
       {% for bibliographie in bibliographies %}
        <option value="{{ bibliographie.bibliographie_id}}">{{bibliographie.bibliographie_author}} "{{bibliographie.bibliographie_title}}"</option>
        {% endfor %}
     </select>
    </div>
  </div>
      </div>
<div class="form-group row">
    <label for="volume" class="col-sm-2 col-form-label">Volume</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="volume" placeholder="volume" name="volume">
    </div>
  </div>
<div class="form-group row">
    <label for="page" class="col-sm-2 col-form-label">Pages</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="page" placeholder="page" name="page">
    </div>
  </div>
<div class="form-group row">
    <label for="recordNumber" class="col-sm-2 col-form-label">Numéro d'enregistrement</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="recordNumber" placeholder="recordNumber" name="recordNumber">
    </div>
  </div>
<div class="form-group row">
    <label for="note" class="col-sm-2 col-form-label">Notes</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="note" placeholder="note" name="note">
    </div>
  </div>


  <div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </div>
</form>
{% endblock %}
