{% extends "conteneur.html" %}

{% block titre %}| Exemplaire {%endblock%}

{% block corps %}

<h1 style="font-family: Georgia;">Édition d'Erasmus</h1>
<p style="font-family: Georgia;">Complétez le formulaire et cliquez sur "Enregistrer".</p>
    <form class="container" method="GET" class="col-8 col-sm-8"  action="{{url_for("ajout_exemplaire", identifier=edition.edition_id)}}" style="font-family: Georgia;">

    <div class="form-group row">

        <label for="idEdition" class="col-sm-2 col-form-label">ID Edition</label>
        <div class="col-6 col-sm-6">
      <div class="col-sm-6">
        <input type="text" class="form-control" id="idEdition" name="idEdition" value="{{edition.edition_id}}">
      </div>
    </div>
    </div>
</form>
<form class="form" method="POST" class="col-8 col-sm-8" action="{{url_for("ajout_exemplaire", identifier=edition.edition_id)}}" style="font-family: Georgia;">
  <div class="form-group row">
    <label for="library" class="col-sm-2 col-form-label">Bibliotheque</label>
    <div class="col-6 col-sm-6">
      <div class="input-group" >
     <select class="selectpicker form-control" id="library" placeholder="library" name="library">
         <option></option>
       {% for bibliotheque in bibliotheques %}
        <option value="{{ bibliotheque.bibliothecae_id}}">{{bibliotheque.bibliothecae_library}}</option>
        {% endfor %}
     </select>
    </div>
  </div>
      </div>
<div class="form-group row">
    <label for="pressmark" class="col-sm-2 col-form-label">Cote</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="pressmark" placeholder="pressmark" name="pressmark">
    </div>
  </div>
<div class="form-group row">
    <label for="hauteur" class="col-sm-2 col-form-label">Hauteur (en cm)</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="hauteur" placeholder="hauteur" name="hauteur">
    </div>
  </div>
<div class="form-group row">
    <label for="largeur" class="col-sm-2 col-form-label">Largeur (en cm)</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="largeur" placeholder="largeur" name="largeur">
    </div>
  </div>
<div class="form-group row">
    <label for="variantesEdition" class="col-sm-2 col-form-label">Variantes d'édition</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="variantesEdition" placeholder="variantesEdition" name="variantesEdition">
    </div>
  </div>
<div class="form-group row">
    <label for="digitalURL" class="col-sm-2 col-form-label">Lien vers exemplaire numérisé</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="digitalURL" placeholder="digitalURL" name="digitalURL">
    </div>
  </div>
<div class="form-group row">
    <label for="etatMateriel" class="col-sm-2 col-form-label">État matériel</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="etatMateriel" placeholder="etatMateriel" name="etatMateriel">
    </div>
  </div>
<div class="form-group row">
    <label for="notes" class="col-sm-2 col-form-label">Notes</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="notes" placeholder="notes" name="notes">
    </div>
  </div>
<div class="form-group row">
    <label for="provenances" class="col-sm-2 col-form-label">Provenances</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="provenances" placeholder="provenances" name="provenances">
    </div>
  </div>
<div class="form-group row">
    <label for="locFingerprint" class="col-sm-2 col-form-label">Empreinte LOC </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="locFingerprint" placeholder="locFingerprint" name="locFingerprint">
    </div>
  </div>
<div class="form-group row">
    <label for="stcnFingerprint" class="col-sm-2 col-form-label">Empreinte STCN</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="stcnFingerprint" placeholder="stcnFingerprint" name="stcnFingerprint">
    </div>
  </div>
<div class="form-group row">
    <label for="reliure" class="col-sm-2 col-form-label">Reliure</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="reliure" placeholder="reliure" name="reliure">
    </div>
  </div>
<div class="form-group row">
    <label for="recueilFactice" class="col-sm-2 col-form-label">Recueil factice</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="recueilFactice" placeholder="recueilFactice" name="recueilFactice">
    </div>
  </div>
<div class="form-group row">
    <label for="reliureXVI" class="col-sm-2 col-form-label">Reliure XVIe</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="reliureXVI" placeholder="reliureXVI" name="reliureXVI">
    </div>
  </div>


  <div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </div>
</form>
{% endblock %}
