{% extends "conteneur.html" %}
{% block afternav %}
{%endblock%}
{% block corps %}
<h1>Tous les exemplaires</h1>
    {% if exemplars %}
        <ul>
            {% for exemplar in exemplars %}
                <li><a href="{{url_for('exemplar', exemplaire_id=exemplar.exemplaire_id)}}">{{editions.edition_short_title}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>La base de données est en cours de constitution</p>

    {% endif %}

<p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>

{% endblock %}