{% extends "conteneur.html" %}

{% block titre %}
    {%if exemplar %}| Edition : {{exemplar.exemplaire_id}} {% endif %}
{% endblock %}

{% block corps %}
    {% if exemplar %}
        <h1>Exemplaire</h1>
        <dl>
            <dt>SN</dt><dd>{{exemplar.exemplaire_sn}}</dd>
            <dt>Bibliothèque</dt><dd>{{exemplar.exemplaire_library}}</dd>
            <dt>Code de texte</dt><dd>{{exemplar.exemplaire_library_code_text}}</dd>
            <dt>Pressmark</dt><dd>{{exemplar.exemplaire_pressmark}}</dd>
            <dt>Taille</dt><dd>{{exemplar.exemplaire_size}}</dd>
            <dt>Status d'exemplaire</dt><dd>{{exemplar.exemplaire_exemp_status}}</dd>
            <dt>Digital URL</dt><dd>{{exemplar.exemplaire_digitalURL}}</dd>
            <dt>Provider</dt><dd>{{exemplar.exemplaire_provider}}</dd>
            <dt>Notes</dt><dd>{{exemplar.exemplaire_notes}}</dd>

        </dl>



    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}