{% extends "conteneur.html" %}

{% block titre %}
    {%if issue %}| Edition : {{issue.edition_short_title}}{% endif %}

{% endblock %}


{% block corps %}


    {% if issue %}

        <h3 style="color:RGB(65, 105, 225); margin-top: 2.5em; margin-bottom: 1em;">{{issue.edition_short_title}}</h3>
        {% if issue.edition_uniform_title != None %}
        <h5>[{{issue.edition_uniform_title}}]</h5>
        {% endif %}
        <p><b>Auteur principal:</b>  {{issue.edition_author_first}}</p>
        <p><b>Auteur(s) secondaire(s):</b> {{issue.edition_author_second}}</p>
<div class="row">
    <div class="col-8 col-sm-8">
        <table>
            <tr>
                <h4 style=" margin-top: 3.5em; margin-bottom: 1em; background-color: RGB(135, 206, 250); text-align:left">NOTICE SOMMAIRE</h4>
            </tr>


            <tr>
                <td width="130"><b>Titre court:</b></td>
                <td> {{issue.edition_short_title}}</td>
            </tr>
            <tr>
                <td width="130"><b>Auteur principal: </b></td>
                <td>{{issue.edition_author_first}}</td>
            </tr>
            {% if issue.edition_author_second %}
            <tr>
                <td width="130"><b>Auteur(s) secondaire(s): </b></td>
                <td>{{issue.edition_author_second}}</td>
            </tr>
            {% endif %}
            <!--{% if issue.edition_publisher %}
            <dt>Éditeur</dt><dd>{{issue.edition_publisher}}</dd>
            {% endif %}
            {% if issue.edition_translator %}
            <dt>Traducteur</dt><dd>{{issue.edition_translator}}</dd>
            {% endif %}-->
                {% if issue.edition_country %}
             <tr>
                 <td width="130"><b>Pays de publication:</b></td>
                 <td> {{issue.edition_country}}</td>
             </tr>
            {% endif %}
            {% if issue.edition_place or issue.edition_printer or issue.edition_displayDate%}
            <tr>
                <td width="130"><b>Lieu/Imprimeur/Libraire/Date:</b></td>
                <td> {%if issue.edition_place%}{{issue.edition_place}}{% endif %}
                     {%if issue.edition_printer%}, {{issue.edition_printer}}{% endif %}
                     {%if issue.edition_displayDate%}, {{issue.edition_displayDate}}{% endif %}</td>
            </tr>

            {% endif %}
            {% if issue.edition_collator_format %}
            <tr>
                <td width="130"><b>Format:</b></td>
                <td> {{issue.edition_collator_format}}</td>
            </tr>
            {% endif %}
            <tr>
                <td width="130"><b>№ dans la base:</b></td>
                <td> {{issue.edition_sn}}</td>
            </tr>
            </table>
            <table>
                <tr>
                    <h4 style=" margin-top: 3.5em; margin-bottom: 1em; background-color: RGB(135, 206, 250); text-align:left">INFORMATIONS COMPLÉMENTAIRES</h4>
                </tr>
                {% if issue.edition_full_title or issue.edition_collator_tpt%}
                <tr>
                    <td valign="top", width="130"><b> Titre entier/titre transcrit: </b></td>
                    <td>{% if issue.edition_full_title %}{{issue.edition_full_title}} / {% endif %}
                        {% if issue.edition_collator_tpt %}{{issue.edition_collator_tpt}}{% endif %}</td>
                </tr>
                {% endif %}
                {% if issue.edition_imprint %}
                <tr>
                    <td width="237"><b>Adresse: </b></td>
                    <td>{{issue.edition_imprint}}</td>
                </tr>
                {% endif %}
                {% if issue.edition_collator_PpFf %}
                <tr>
                    <td width="130"><b>PP/FF: </b></td>
                    <td>{{issue.edition_collator_PpFf}}</td>
                </tr>
                {% endif %}
                {% if issue.edition_collator_signatures %}
                <tr>
                    <td width="130"><b>Signatures: </b></td>
                    <td>{{issue.edition_collator_signatures}}</td>
                </tr>
                {% endif %}
                {% if issue.edition_dedication %}
                <tr>
                    <td width="130"><b>Dédicace:  </b></td>
                    <td>{{issue.edition_dedication}}</td>
                </tr>
                {% endif %}
                {% if issue.edition_privelege %}
                <tr>
                    <td width="130"><b>Privilège:  </b></td>
                    <td>{{issue.edition_privelege}}</td>
                </tr>
            {% endif %}
            {% if issue.edition_class0 or issue.edition_class1 or issue.edition_class2 %}
            <tr>
                <td width="130"><b>Matière:  </b></td>
                <td>{% if issue.edition_class0 %}{{issue.edition_class0}}, {% endif %}
                    {% if issue.edition_class1 %}{{issue.edition_class1}}, {% endif %}
                    {% if issue.edition_class2 %}{{issue.edition_class2}}{% endif %}</td>
            </tr>
            {% endif %}

            {% if issue.edition_languages %}
            <tr>
                <td width="130"><b>Langue:  </b></td>
                <td>{{issue.edition_languages}}</td>
            </tr>
            {% endif %}
                {% if issue.edition_notes %}
            <tr>
                <td width="130"><b>Notes:  </b></td>
                <td>{{issue.edition_notes}}</td>
            </tr>
            {% endif %}
                <tr><td><a class="btn btn-outline-primary btn-sm" href="{{url_for('modif_edition', edition_id = issue.edition_id)}}" role="button">Modifier </a></td>
                <td><a class="btn btn-outline-danger btn-sm" href="{{ url_for('suppression_edition', edition_id=issue.edition_id) }}" role="button">Supprimer</a></td></tr>

        </table>

        <table>
            <tr>
                <h4 style=" margin-top: 3.5em; margin-bottom: 1em; background-color: RGB(135, 206, 250); text-align:left">EXEMPLAIRES</h4>
            </tr>
            <tr>
                <td width="130"><b>PAYS</b></td>
                <td width="130"><b>VILLE</b></td>
                <td width="130"><b>BIBLIOTHÈQUE</b></td>
                <td width="130"><b>COTE</b></td>
                <td width="130"><b>LIEN VERS UNE NUMÉRISATION</b></td>
            </tr>
            {% for exemplair in exemplaires %}

            <tr>
                <td valign="top">{{exemplair.bibliothecae.bibliothecae_pays}}</td>
                <td valign="top">{{exemplair.bibliothecae.bibliothecae_ville}}</td>
                <td valign="top">{{exemplair.bibliothecae.bibliothecae_library}}</td>
                <td valign="top">{{exemplair.exemplaire_pressmark}}</td>
                <td valign="top">{{exemplair.exemplaire_digitalURL}}</td>
                <td valign="top"><a href="{{url_for('exemplar', exemplaire_id=exemplair.exemplaire_id)}}"><img src="{{url_for("static", filename="images/livre.jpeg")}}" width="35"
        height="35" border="0" alt="lien"> </a></td>
            </tr>
            {% endfor %}
        </table>
 <p><a class="btn btn-outline-success" role="button" href="{{url_for('ajout_exemplaire', identifier = issue.edition_id)}}">Ajout exemplaire</a></p>
    <table>
            <tr>
                <h4 style=" margin-top: 1.5em; margin-bottom: 1em; background-color: RGB(135, 206, 250); text-align:left">CITATION</h4>
            </tr>

        {% for citation in citations %}
        <tr>
            <td width="130", valign="top">{{citation.citation_dbname}}</td>
            <td width="130", valign="top">{{citation.citation_dbnumber}}</td>
            <td width="130", valign="top"><a href="{{citation.citation_url}}">{{citation.citation_url}}</a></td>
        </tr>
        <tr><td><a class="btn btn-outline-primary btn-sm" href="{{url_for('modif_citation', citation_id=citation.citation_id)}}" role="button">Modifier</a></td>
            <td><a class="btn btn-outline-danger btn-sm" href="{{ url_for('suppression_citation', citation_id=citation.citation_id) }}" role="button">Supprimer</a></td></tr>
        {% endfor %}
    </table>
                <p><a class="btn btn-outline-success" role="button" href="{{url_for('ajout_citation', edition_id = issue.edition_id)}}">Ajout citation</a></p>
        </div>
    {% if issue.edition_urlImage %}
            <div class="col-4 col-sm-4">
    <img src="{{issue.edition_urlImage}}" width="250"
        height="100" border="0" alt="éditions">
</div>

    {%else%}

<div class="col-4 col-sm-4">
    <img src="{{url_for("static", filename="images/erasmus.jpeg")}}" width="450"
        height="650" border="0" alt="Erasmus Desiderius">
</div>
    {% endif %}
</div>
<h4 style=" margin-top: 1.5em; margin-bottom: 1em; background-color: RGB(135, 206, 250); text-align:left">RÉFÉRENCE(S) BIBLIOGRAPHIQUE(S)</h4> <a class="btn btn-outline-success" role="button" href="{{url_for('ajout_reference', edition_id = issue.edition_id)}}">Ajout reference</a>
    <table>

       <tr>
           <td width="150"><b>AUTEUR(S)</b></td>
           <td width="250"><b>TITRE</b></td>
           <td width="150"><b>IMPRINT</b></td>
           <td width="150"><b>LIEN</b></td>
           <td width="100"><b>PAGE</b></td>
           <td width="100"><b>VOLUME</b></td>
       </tr>
    {% for reference in references %}

    <tr>
        <td valign="top">{{reference.bibliographie.bibliographie_author}}</td>
        <td valign="top">{{reference.bibliographie.bibliographie_title}}</td>
        <td valign="top">{{reference.bibliographie.bibliographie_imprint}}</td>
        <td valign="top">{{reference.bibliographie.bibliographie_URLLink}}</td>
        <td valign="top">{{reference.reference_page}}</td>
        <td valign="top">{{reference.reference_volume}}</td>
    </tr>
    <tr>
        <td><p></p></td>
        <td><p></p></td>
        <td><p></p></td>
        <td><p></p></td>
        <td><p></p></td>
        <td><p></p></td>
    </tr>
        <tr><td><a class="btn btn-outline-primary btn-sm" href="{{url_for('modif_reference', reference_id=reference.reference_id)}}" role="button">Modifier</a></td></tr>
    {% endfor %}

    </table>


        {% else %}


        <p>La base de données est en cours de constitution</p>


    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>

{% endblock %}