{% extends "conteneur.html" %}

{% block titre %}| Contribuer{%endblock%}

{% block corps %}

<h1>Editer</h1>
<p>Complétez le formulaire et cliquez sur "Contribuer" pour modifier l'édition.</p>
<form class="form" method="POST" action="{{url_for('modif_edition', edition_id=edition.edition_id)}}">
    <div class="form-group row">
    <label for="sn" class="col-sm-2 col-form-label">Numéro dans la base</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="sn" placeholder="sn" name="sn" value="{{edition.edition_sn}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="short-title" class="col-sm-2 col-form-label">Titre court</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="short-title" placeholder="titre court de l'édition" name="short_title" value="{{edition.edition_short_title}}">
    </div>
  </div>
<div class="form-group row">
    <label for="uniform_title" class="col-sm-2 col-form-label"> Titre uniforme </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="uniform_title" placeholder="uniform_title" name="uniform_title" value="{{edition.edition_uniform_title}}">
    </div>
  </div>
<div class="form-group row">
    <label for="full_title" class="col-sm-2 col-form-label">Titre entier </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="full_title" placeholder="full_title" name="full_title" value="{{edition.edition_full_title}}">
    </div>
  </div>
<div class="form-group row">
    <label for="tpt" class="col-sm-2 col-form-label">Transcription de la page de titre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="tpt" placeholder="tpt" name="tpt" value="{{edition.edition_tpt}}">
    </div>
  </div>
<div class="form-group row">
    <label for="title_notes" class="col-sm-2 col-form-label"> Notes sur le titre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title_notes" placeholder="title_notes" name="title_notes" value="{{edition.edition_title_notes}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="author_first" class="col-sm-2 col-form-label">Premier auteur</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="author_first" placeholder="premier auteur d'édition" name="author_first" value="{{edition.edition_author_first}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="author_second" class="col-sm-2 col-form-label">Deuxième auteur</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="author_second" placeholder="deuxième auteur d'édition" name="author_second" value="{{edition.edition_author_second}}">
      </input>
    </div>
  </div>
 <div class="form-group row">
    <label for="publisher" class="col-sm-2 col-form-label">Éditeur</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="publisher" placeholder="éditeur d'édition" name="publisher" value="{{edition.edition_publisher}}">
    </div>
  </div>
<div class="form-group row">
    <label for="printer" class="col-sm-2 col-form-label">Imprimeur</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="printer" placeholder="printer" name="printer" value="{{edition.edition_printer}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="translator" class="col-sm-2 col-form-label">Traducteur</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="translator" placeholder="traducteur d'édition" name="translator" value="{{edition.edition_translator}}">
    </div>
  </div>
    <div class="form-group row">
    <label for="prefaceur" class="col-sm-2 col-form-label">Préfacier</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="prefaceur" placeholder="prefaceur" name="prefaceur" value="{{edition.edition_prefaceur}}">
    </div>
  </div>
<div class="form-group row">
    <label for="nomRejete" class="col-sm-2 col-form-label">Noms d'auteur (formes rejetées)</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nomRejete" placeholder="nomRejete" name="nomRejete" value="{{edition.edition_nomRejete}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="dateInferred" class="col-sm-2 col-form-label">Date déduite</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="dateInferred" placeholder="date Inferred" name="dateInferred" value="{{edition.edition_dateInferred}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="displayDate" class="col-sm-2 col-form-label">Date affichée</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="displayDate" placeholder="displayDate" name="displayDate" value="{{edition.edition_displayDate}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="displayDate" class="col-sm-2 col-form-label">Date propre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="cleanDate" placeholder="cleanDate" name="cleanDate" value="{{edition.edition_cleanDate}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="languages" class="col-sm-2 col-form-label">Langues</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="languages" placeholder="langues" name="languages" value="{{edition.edition_languages}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="placeInferred" class="col-sm-2 col-form-label">Lieu déduit</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="placeInferred" placeholder="place Inferred" name="placeInferred" value="{{edition.edition_placeInferred}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="place" class="col-sm-2 col-form-label">Lieu</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="place" placeholder="place" name="place" value="{{edition.edition_place}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="place2" class="col-sm-2 col-form-label">Lieu formes rejetées</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="place2" placeholder="place2" name="place2" value="{{edition.edition_place2}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="placeClean" class="col-sm-2 col-form-label">Lieu Propre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="placeClean" placeholder="placeClean" name="placeClean" value="{{edition.edition_placeClean}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="country" class="col-sm-2 col-form-label">Pays</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="country" placeholder="pays" name="country" value="{{edition.edition_country}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="imprint" class="col-sm-2 col-form-label">Adresse</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="imprint" placeholder="imprint" name="imprint" value="{{edition.edition_imprint}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="class0" class="col-sm-2 col-form-label">Thématique 0</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="class0" placeholder="class0" name="class0" value="{{edition.edition_class0}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="class1" class="col-sm-2 col-form-label">Thématique 1</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="class1" placeholder="class1" name="class1" value="{{edition.edition_class1}}">
    </div>
  </div>
 <div class="form-group row">
    <label for="class2" class="col-sm-2 col-form-label">Thématique 2</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="class2" placeholder="class2" name="class2" value="{{edition.edition_class2}}">
    </div>
  </div>
<div class="form-group row">
    <label for="digital" class="col-sm-2 col-form-label">Numérisation</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="digital" placeholder="digital" name="digital" value="{{edition.edition_digital}}">
    </div>
  </div>
<div class="form-group row">
    <label for="fulltext" class="col-sm-2 col-form-label">Version texte</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fulltext" placeholder="fulltext" name="fulltext" value="{{edition.edition_fulltext}}">
    </div>
  </div>
<div class="form-group row">
    <label for="tpimage" class="col-sm-2 col-form-label">Reproduction page de titre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="tpimage" placeholder="tpimage" name="tpimage" value="{{edition.edition_tpimage}}">
    </div>
  </div>

<div class="form-group row">
    <label for="privelege" class="col-sm-2 col-form-label">Privilège</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="privelege" placeholder="privelege" name="privelege" value="{{edition.edition_privelege}}">
    </div>
  </div>
<div class="form-group row">
    <label for="dedication" class="col-sm-2 col-form-label">Dédicace</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="dedication" placeholder="dedication" name="dedication" value="{{edition.edition_dedication}}">
    </div>
  </div>
<div class="form-group row">
    <label for="reference" class="col-sm-2 col-form-label">Références</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="reference" placeholder="reference" name="reference" value="{{edition.edition_reference}}">
    </div>
  </div>
<div class="form-group row">
    <label for="citation" class="col-sm-2 col-form-label">Citation</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="citation" placeholder="citation" name="citation" value="{{edition.edition_citation}}">
    </div>
  </div>
<div class="form-group row">
    <label for="format" class="col-sm-2 col-form-label">Format</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="format" placeholder="format" name="format">
    </div>
  </div>
<div class="form-group row">
    <label for="formatNotes" class="col-sm-2 col-form-label"> Notes sur le format</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="formatNotes" placeholder="formatNotes" name="formatNotes" value="{{edition.edition_formatNotes}}">
    </div>
  </div>
<div class="form-group row">
    <label for="signatures" class="col-sm-2 col-form-label">Signatures</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="signatures" placeholder="signatures" name="signatures" value="{{edition.edition_sigantures}}">
    </div>
  </div>
<div class="form-group row">
    <label for="PpFf" class="col-sm-2 col-form-label">PP/FF</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="PpFf" placeholder="PpFf" name="PpFf" value="{{edition.edition_PpFf}}">
    </div>
  </div>
<div class="form-group row">
    <label for="remarks" class="col-sm-2 col-form-label">Remarques</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="remarks" placeholder="remarks" name="remarks" value="{{edition.edition_remarks}}">
    </div>
  </div>
<div class="form-group row">
    <label for="colophon" class="col-sm-2 col-form-label">Colophon</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="colophon" placeholder="colophon" name="colophon" value="{{edition.edition_colophon}}">
    </div>
  </div>
<div class="form-group row">
    <label for="illustrated" class="col-sm-2 col-form-label">Illustré</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="illustrated" placeholder="illustrated" name="illustrated" value="{{edition.edition_illustrated}}">
    </div>
  </div>
<div class="form-group row">
    <label for="typographicMaterial" class="col-sm-2 col-form-label">Matériel typographique </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="typographicMaterial" placeholder="typographicMaterial" name="typographicMaterial" value="{{edition.edition_typographicMaterial}}">
    </div>
  </div>
<div class="form-group row">
    <label for="sheets" class="col-sm-2 col-form-label">Feuilles</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="sheets" placeholder="sheets" name="sheets" value="{{edition.edition_sheets}}">
    </div>
  </div>
<div class="form-group row">
    <label for="typeNotes" class="col-sm-2 col-form-label">Notes sur la composition typographique</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="typeNotes" placeholder="typeNotes" name="typeNotes" value="{{edition.edition_typeNotes}}">
    </div>
  </div>
<div class="form-group row">
    <label for="fb" class="col-sm-2 col-form-label">FB</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fb" placeholder="fb" name="fb" value="{{edition.edition_fb}}">
    </div>
  </div>
<div class="form-group row">
    <label for="correct" class="col-sm-2 col-form-label">Collation correcte</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="correct" placeholder="correct" name="correct" value="{{edition.edition_correct}}">
    </div>
  </div>
<div class="form-group row">
    <label for="locFingerprints" class="col-sm-2 col-form-label">Empreinte LOC </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="locFingerprints" placeholder="locFingerprints" name="locFingerprints" value="{{edition.edition_locFingerprints}}">
    </div>
  </div>
<div class="form-group row">
    <label for="stcnFingerprints" class="col-sm-2 col-form-label">Empreinte STCN</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="stcnFingerprints" placeholder="stcnFingerprints" name="stcnFingerprints" value="{{edition.edition_stcnFingerprints}}">
    </div>
  </div>

<div class="form-group row">
    <label for="notes" class="col-sm-2 col-form-label">Notes</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="notes" placeholder="notes" name="notes" value="{{edition.edition_notes}}">
    </div>
  </div>
<div class="form-group row">
    <label for="urlImage" class="col-sm-2 col-form-label"> urlImage</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="urlImage" placeholder="urlImage" name="urlImage" value="{{edition.edition_urlImage}}">
    </div>
  </div>


  <div>
    <button type="submit" class="btn btn-primary">Contribuer</button>
  </div>
</form>
{% endblock %}