{% extends "conteneur.html" %}
{% block titre %}
    | Suppression d'un oeuvre
{% endblock %}

{% block corps %}


        <h3>Confirmez s'il vous plaît la suppression d'un oeuvre :</h3>



				<form class="col-3 mr-2 " method="POST" action="{{url_for('suppression_bibliographie', bibliographie_id=bibliographie.bibliographie_id)}}">
                    <button type="submit" class="btn btn-success btn-sm">Confirmer</button>
				</form>
                    <form class="col-3 ml-2" method="GET" action="{{ url_for('suppression_bibliographie', bibliographie_id=bibliographie.bibliographie_id)}}">
                        <button type="submit" class="btn btn-danger btn-sm">Annuler</button>
				</form>
		</div>
			</div>
		</div>
    </form>
	</div>
</div>
{% endblock %}